//#######################_Variables_########################################################

$black: rgba(0, 0, 0, 1);

$red: rgba(240, 20, 90, 1);

$blue: rgba(36, 163, 255, 1);

$grey: rgba(179, 179, 186, 1);

$grey-2: rgba(245, 245, 250, 1);

$grey-3: rgba(255, 255, 255, 0.2);

$grey-4: rgba(230, 230, 240, 1);

$white: rgba(255, 255, 255, 1);

$eggplant: rgba(50, 50, 100, 1);
